/* *****************************************************************
 * 1. Home Section
 * ************************************************************** */
 .hero1-text {
    position: relative;
   padding-top: 20px !important;
}

.hero1-text h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
}
.hero1-text .herop{
	padding-top: 50px;
 }
.home-section {
    overflow: visible;
    padding-bottom: 50px;
    /*margin-bottom: 120px;*/
}
.home-section::before {
    background-image: url('../img/divider2.jpg') no-repeat center;
    background-size: cover;
    background-position:top center;
}	
 
#benefits .white{
	background-color:#FAFAFA ;
}
#navigation {
    position: relative;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 70px;
    line-height: 70px;
}
.collapsible-body li{
	  
    list-style-type:square;
}
.installul li{
    list-style-type:decimal	;

}
.abcul li{
    list-style-type: lower-alpha;
}
#tips li{
	list-style-type:none;
}
.fbsize{
    font-size: 20px;
}
.eula{
	color:red;
}
.tipspic{
	height:450px;
    margin-bottom: 50px;
}
.tipspic img{
 	height:100%;
	width:100%; 
	display:block;
}

.sec-padded-1x {
    padding: 10px 0;
}
.indent{
    padding-left: 0px;
    margin-left: 30px;
}
.backindent{
    margin-right: 0px;
}
ul li{
    padding: 10px;
}
.hoverg:hover{
    background-color: #E8E8E8;
}

@media only screen and ( max-width:767px ) {
  

    .hero1-text h2 {
 
        font-size: 20px;
 
    }  
    .home-section::before {
         background-image: url('../img/divider2.jpg');
         background-size: cover;
        background-position:-250px ;
    }   
}